@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
}
/* main Section */
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

section {
  margin: 50px 284px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* top secion */
.top {
  background-color: white;
}

.top h1,
.bottom h1 {
  margin: 33px auto 0px 33px;

  color: rgba(86, 46, 255, 1);
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}
.top-player {
  display: grid;
  padding: 30px;
  grid-template: 1fr 1fr/ 1fr 1fr 1fr;
  grid-row-gap: 30px;
}

.player {
  display: flex;
  align-items: center;
}

.player img {
  height: 56px;
  width: 56px;
}
.player h3 {
  font-style: normal;
  font-weight: 550;
  font-size: 18px;
  line-height: 27px;
  margin-left: 16px;
}
hr {
  border: 1px solid gainsboro;
  width: 90%;
}

.top-blog {
  display: grid;
  grid-template: 1fr 1fr /1fr 1fr;
  margin: 30px;
  grid-row-gap: 26px;
  grid-column-gap: 32px;
}
.blog {
  display: flex;
}
.thumbnail img {
  width: 177px;
  height: 117px;
  margin-right: 16px;
}
.blog-title {
  margin: 5px;
}
.author-name {
  font-size: 16px;
  line-height: 24px;

  color: #9f9f9f;
}
.author-name a {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;

  color: #562eff;
}
/* bottom section */
.bottom {
  background-color: white;
}
.course-container {
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
  grid-gap: 10px;
  padding: 33px;
}
.course {
  display: flex;
  flex-direction: column;

  height: 270px;
  width: 265px;
  padding: 12px;
  box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.05);

  border-radius: 5px;
}
.course-banner img {
  width: 224px;
  height: 104px;
}
.course-title {
  font-weight: 500;
  font-size: 20.0336px;
  line-height: 23px;
}
.course-author {
  font-weight: normal;
  font-size: 14.6913px;
  line-height: 17px;

  color: #ed6b4f;
}

.course-info {
  display: flex;

  align-items: center;
}

.course-rating {
  color: rgb(255, 196, 47);
  margin-right: 10px;
}
.rated-number {
  font-weight: normal;
  font-size: 14.6913px;
  line-height: 22px;

  color: #a2a2a2;
  margin-right: 25px;
}
.course-duration {
  height: 30px;
  width: 95px;
  display: flex;
  background-color: #ffe4e8;
  padding: 2px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #ff4a60;
}
